# Test pour l'utilisation de pandas (dans l'environnement jupyter)

## 1. Environnement python avec les librairies
### 1.1  On se positionne dans le repertoire
### 1.2. Creation d'un environnement python3
#### 1.2.1. Mise à jour de pip, mais juste au niveau utilisateur pour pas casser le systeme
#python -m pip install pip --upgrade --user
#### 1.2.2. Installation de pipenv
#python -m pip install pipenv --user
### 1.3. utilisation de pipenv
#pipenv shell
### 1.4. Installation des bibliothèques
#python -m pip install pandas
#python -m pip install numpy
#python -m pip install matplotlib


## 2. Demarrage de l'environnement jupyter
### 2.1. On se positionne dans le repertoire
#cd ~/Documents/technic/source/voirie/bin/
### 2.2. On lance jupyter notebook
#jupyter notebook

## 3. Tutoriel pandas
#https://pandas.pydata.org/pandas-docs/stable/10min.html#excel
#https://realpython.com/python-pandas-tricks/
#http://www.portailsig.org/content/python-geopandas-ou-le-pandas-spatial

In [3]:
# https://pandas.pydata.org/pandas-docs/stable/10min.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.433178  0.383635  0.045569 -0.401105
2013-01-02 -0.861278 -0.515247  0.793621  0.426843
2013-01-03  0.600566  0.307044 -1.485563  1.047846
2013-01-04  0.014417  0.375144  0.267093 -0.155513
2013-01-05 -1.260203 -0.285156 -1.880881 -1.582141
2013-01-06  0.994614 -1.164544 -1.416465 -0.681461